<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="../assets/css/style.css">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <!-- font awesome -->
        <script src="https://kit.fontawesome.com/a4a549431c.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="container-fluid">
            <div style="padding-top: 11%; height: 18.1%; position: relative;">
                <h1 class="font" style="color: #484848;"><a href="javascript:history.back()"><i class="back fas fa-arrow-left" style="padding-left: 30px;"></i></a><b style="padding-left: 15%;">每日紀錄</b></h1>
            </div>

            <div class="font record_cards"> </div>

        </div>

        <script>

            $(document).ready(function() {
                var records_html = "";              // 把資料轉換成 html
                var card_data = new Array();        // 紀錄資料
                if("對照組") {
                    card_data = [     // 資料須改
                        ["data_id", "2021/11/08 (一)", "6 ～ 15 分鐘"],
                        ["data_id", "2021/11/08 (一)", "6 ～ 15 分鐘"],
                        ["data_id", "2021/11/08 (一)", "6 ～ 15 分鐘"],
                        ["data_id", "2021/11/08 (一)", "6 ～ 15 分鐘"]
                    ];
                } else {
                    card_data = [     // 資料須改
                        ["data_id", "2021/11/08 (一)", "文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字"],
                        ["data_id", "2021/11/08 (一)", "文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字"],
                        ["data_id", "2021/11/08 (一)", "文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字"],
                        ["data_id", "2021/11/08 (一)", "文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字"]
                    ];
                }

                card_data.forEach(content => {
                    records_html += `<div class="cards">
                                        <div class="card_title">
                                            <p class="card_header font">${content[1]}</p>
                                        </div>
                                        <div class="card_body">
                                            <p class="card_content font">${content[2]}</p>
                                            <a href="form_record.html?id=${content[0]}"><h2 class="records_more_btn font">查看更多 <i class="fas fa-arrow-circle-right"></i></h2></a>
                                        </div>
                                    </div>`;
                });

                $(".record_cards").html(records_html);
            });
            
        </script>
    </body>
</html>