<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="../assets/css/style.css">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>
        <div class="container-fluid" align="center">
            <h1 style="padding-top: 30%;">恭喜完成</h1>
            <div class="js-container container" style="top:0px !important;"></div>

            <div style="text-align:center;margin-top:30px;position: fixed; width: 100%; height: 100%; top:30%; left:0px;">
                <div class="checkmark-circle">
                <div class="check_background"></div>
                <div class="checkmark draw"></div>
                </div>
                <h1 class="font" style="margin-top: 10%; font-size: 35px;">Congratulations!</h1>
                <input type="button" class="btn_click" onclick="javascript:location.href='index.html'" value="回主頁" style="margin-top: 10%;"></input>
            </div>  

        </div>

        <script>
            const Confettiful = function (el) {
                this.el = el;
                this.containerEl = null;
                this.confettiFrequency = 3;
                this.confettiColors = ['#EF2964', '#00C09D', '#2D87B0', '#48485E', '#EFFF1D'];
                this.confettiAnimations = ['slow', 'medium', 'fast'];

                this._setupElements();

                this._renderConfetti();
            };

            Confettiful.prototype._setupElements = function () {
                const containerEl = document.createElement('div');
                const elPosition = this.el.style.position;

                if (elPosition !== 'relative' || elPosition !== 'absolute') {
                    this.el.style.position = 'relative';
                }

                containerEl.classList.add('confetti-container');
                this.el.appendChild(containerEl);
                this.containerEl = containerEl;
            };

            Confettiful.prototype._renderConfetti = function () {
                this.confettiInterval = setInterval(() => {
                    const confettiEl = document.createElement('div');
                    const confettiSize = Math.floor(Math.random() * 3) + 7 + 'px';
                    const confettiBackground = this.confettiColors[Math.floor(Math.random() * this.confettiColors.length)];
                    const confettiLeft = Math.floor(Math.random() * this.el.offsetWidth) + 'px';
                    const confettiAnimation = this.confettiAnimations[Math.floor(Math.random() * this.confettiAnimations.length)];
                    confettiEl.classList.add('confetti', 'confetti--animation-' + confettiAnimation);
                    confettiEl.style.left = confettiLeft;
                    confettiEl.style.width = confettiSize;
                    confettiEl.style.height = confettiSize;
                    confettiEl.style.backgroundColor = confettiBackground;
                    confettiEl.removeTimeout = setTimeout(function () {
                            confettiEl.parentNode.removeChild(confettiEl);
                        }, 3000);
                    this.containerEl.appendChild(confettiEl);
                }, 25);
            };

            window.confettiful = new Confettiful(document.querySelector('.js-container'));
        </script>
    </body>
</html>