<body class="home_body">
  <div class="container">
    <form role="form" action="/index" method='POST' id='show-account-form'>
      <div class="outer" style="position: relative;height: 80vh;display:flex;align-items: center;">
        <div class="inner" style="align:center;height: 100px;">
          <img src="/being_logo.png" width="100%">
          <br><br>
          <h3>您的網址有誤，請從IG點選連結重新登入，謝謝!!</h3>
        </div>
      </div>
    </form>
  </div>
</body>