<div class="footer">
  <div class="footer fixed-bottom small">
    <div class="container-fluid">
      <div class="row">
        <small style="background-color:black;color:white">
          <div class="text-end">Copyright © DBC-MentalHealth 2021</div>
        </small></div>
    </div>
  </div>
</div>