<body>
    <div class="container-fluid">
        <div style="padding-top: 25%; padding-bottom: 3%; margin-bottom: 35px; height: 18.1%; background-color: #AACFD1;" align="center">
            <h1 class="font">填答每日小記</h1>
        </div>

        <form role="form" id="form_answers" method="POST" action="/form_complete">
            <!-- part 1 -->
            <div class="guide_div guide">
                <p class="font guide_text">嗨，今天好嗎？在開始之前，邀請你用30秒的時間，以自己舒服的姿勢，以及自己喜歡的速度來進行深呼吸，讓身體放鬆，並且讓情緒沉澱。</p>
            </div>
            <div class="question question_div">
                <p class="font question_title">請問你今天在Instagram上，花了多久時間呢？</p>
                <input type="hidden" name="1" value="">
                <label class="btn answer_btn" name="radio1">少於 5 分鐘</label><br>
                <label class="btn answer_btn" name="radio2">6 ～ 15 分鐘</label><br>
                <label class="btn answer_btn" name="radio3">16 ～ 30 分鐘</label><br>
                <label class="btn answer_btn" name="radio4">31 ～ 59 分鐘</label><br>
                <label class="btn answer_btn" name="radio5">1 小時 ～ 1 小時 30 分鐘</label><br>
                <label class="btn answer_btn" name="radio6">1 小時 31 分鐘～ 2 小時</label><br>
                <label class="btn answer_btn" name="radio7">超過 2 小時</label>
            </div>
            <div class="question question_div">
                <p class="font question_title">在你使用Instagram的時間裡，大都做了什麼事？ </p>
                <div class="form-floating">
                    <textarea class="font form-control" rows="6" placeholder="寫點今天做的事情..." name="2"></textarea>
                </div>
            </div>
            <hr class="guide">

            <!-- part 2 -->
            <div class="guide_div guide">
                <p class="font guide_text">現在，請想像自己是一座冰山，海平面以上，是你今天所展現出來、容易被看到與理解的行為。海平面以下，是比較難被發現的情緒。邀請你一起來探索，這座冰山在海平面下的樣貌吧！</p>
            </div>
            <div class="question question_div">
                <p class="font question_title">請問你此刻的情緒是什麼？</p>
                <div class="form-floating">
                    <textarea class="font form-control" rows="6" placeholder="用幾個形容詞描述一下情緒...." name="3"></textarea>
                </div>
            </div>
            <div class="question question_div guide">
                <p class="font question_title">這個情緒是否有帶給你任何身體的感受或變化？</p>
                <div class="form-floating">
                    <textarea class="font form-control" rows="6" placeholder="描述一下身體的感受..." name="4"></textarea>
                </div>
            </div>
            <hr class="guide">

            <!-- part 3 -->
            <div class="guide_div guide">
                <p class="font guide_text">如果可以再往海底下潛，深一點，<br>
                    或許還有更多值得探索的故事哦！</p>
            </div>
            <div class="question question_div guide">
                <p class="font question_title">你認為目前的情緒及身體感受，背後的原因或意義是什麼？</p>
                <div class="form-floating">
                    <textarea class="font form-control" rows="6" placeholder="想想看可能的原因是什麼呢..." name="5"></textarea>
                </div>
            </div>
            <hr class="guide">

            <!-- part 4 -->
            <div class="guide_div guide">
                <p class="font guide_text">謝謝你願意看見這些感受和原因，相信這些感受都是很真實的！<br>
                    讓我們一起練習接納這些情緒與感受，<br>
                    試著在心裡默念「我願意跟這個感覺更靠近一點、我願意接納有這些感受的自己」</p>
            </div>
            <div class="question question_div guide">
                <p class="font question_title">如果可以，你希望自己的情緒或狀態如何改變或維持呢？</p>
                <div class="form-floating">
                    <textarea class="font form-control" rows="6" placeholder="用幾個形容詞描述一下情緒...." name="6"></textarea>
                </div>
            </div>
            <hr class="guide">

            <!-- final part -->
            <h1 class="font finally guide">最後</h1>
            <div class="guide_div guide">
                <p class="font guide_text">我們即將結束今天的冰山探索旅程，辛苦了！別忘了：不論你探索到什麼樣的故事，都是你認真活在當下的深刻足跡唷！</p>
            </div>
            <div class="question question_div guide">
                <p class="font question_title">現在，邀請你給當下的自己一些祝福或鼓勵的話。</p>
                <div class="form-floating">
                    <textarea class="font form-control" rows="6" placeholder="打入祝福的話..." name="7"></textarea>
                </div>
            </div>

            <input class="btn_click" style="position:relative;" type="submit" value="送出">
        
        </form>
        <br><br><br>    
    </div>

    <script>
        $(document).ready(function() {
            if(<%= !user.is_guided %>) {  // 如果是對照組，hide實驗組題目
                $(".guide").hide()
            }
        });
    
        $(".answer_btn").click(function(){
            $(".checked").css("backgroundColor", "#fff").css("color", "#2A868C");
            $(".checked").removeClass("checked");
            $(this).css("backgroundColor", "#2A868C").css("color", "#fff");
            $(this).addClass("checked");
            $("input[name=1]").val($(this).html());
        });

        $('#form_answers').submit(function() {
            var notOK = 0;
            var question_count;
            if(<%= !user.is_guided %>) question_count = 3;
            else question_count = 7;

            for(let count = 0; count <= question_count; count++) {
                if($("*[name=" + count + "]").val() == "") {
                    alert("有部分題目尚未填寫完畢，請檢查一次");
                    notOK = 1;
                    break;
                }
            }
            if(notOK == 1) return false;
            else if (!confirm("確認繳交？")) return false;
            else return true;
        });
    </script>
</body>