<body class="history_body">
  <div class="container">
    <div class="row align-items-center">
      <div class="col align-self-start">
        <input type ="button" onclick="history.back()" value="←"></input>
      </div>
      <div class="col align-self-center">
        <h2>每日記錄</h2>
      </div>
      <div class="col"></div>
    </div>
    <div class="row-md-12 align-items-center">
      <% answers.each do |answer| %>
        <div class="row-md-12">
          <h5> <%= answer.question_num %> </h5>
          <h5 class="card-title"> <%= answer.answer_content %> </h5>
        </div>
      <% end%>
    </div>
  </div>
  <style>
    .history_body{
      position: relative;
      width: 375px;
      height: 812px;
      top: 20px;
    
      background: #FFFFFF;
    }
  </style>
</body>