doctype html
html
  head
    meta[charset="utf-8"]
    link[rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"]
    link[rel="stylesheet" href="./assets/css/style.css"]
    script[src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"]
    script[src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"]
    script[src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"]
    script[src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"]
    script
      |  $(".start_btn").click(function() { // add condition of group a or b window.location.replace("mediation.html"); }); 
  body.home_body
    .container-fluid
      p.font.text-center[style="font-size: 35px; line-height: 41px;"]
        | OUR BRAND NAME
      .col[style="margin-top: 80px; height: 48px; width: 105%; background-color: white;"]
        h2.font[style="line-height: 48px;"]
          | 填寫我的每日小記
      .col[style="display: block;" align="center"]
        input.start_btn[type="button" value="開始"]
      .col.font.bottom_card[style="height: 304px;"]
        p[style="font-size: 24px; line-height: 28px; letter-spacing: -0.02em; display: inline; float:left;"]
          | 我的祝福 & 紀錄 
        p[style="float:right; display: inline; color: grey; font-size: 13px; line-height: 15px;"]
          | 所有紀錄 
          img[src="./assets/further_info_right_arrow.png" width="14px"]