<body class="home_body">
    <div class="container-fluid">
        <div class="font text-center" style="margin-top: 15%;">
            <img src="/being_logo.png" width="100%">
        </div>
        <div class="col-12" style="margin-top: 24%; height: 48px; width: 105%; background-color: white;">
            <h2 class="font" style="line-height: 48px;">填寫我的每日小記</h2>
        </div>
        <div class="col-12" style="display: block;" align="center">
            <a href='/meditation/<%= account %>'>
                <input class="start_btn" type="button" value="開始" action="/meditation" method='POST'>
            </a>
        </div>
        <div class="col-12 font bottom_card" style="height: 304px;">
            <p style="font-size: 24px; line-height: 28px; letter-spacing: -0.02em; display: inline; float:left;">我的祝福 & 紀錄 </p>
            <a href='/history-test/<%= account %>'>
                <p style="float:right; display: inline; color: grey; font-size: 13px; line-height: 15px; margin-top: 5px;">所有紀錄 <img src="/further_info_right_arrow.png" width="14px"></p> 
            </a>
            <div class="records no_record" align="center">
                尚無紀錄
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            if("過去有填寫表單資料") {  // 如果有資料就顯示下面的小卡
                
            }

            if("對照組") {  // 如果是對照組修改某些資訊
                $(".guide").hide();
            }
        });
    </script>
</body>