<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="./assets/css/style.css">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="./assets/js/countdown.js"></script>
        <script src="./assets/js/kinetic-v5.1.0.js"></script>
        <script src="./assets/js/kinetic-v5.1.0.min.js"></script>
        <script src="https://www.jqueryscript.net/demo/Modern-Circular-jQuery-Countdown-Timer-Plugin-Final-Countdown/js/kinetic.js"></script>
        <script>

            $('.countdown').final_countdown({
                now: (''+(new Date().getTime())).substring(0,10),
                start: '1434626339',
                end:   '1434627339'
            });
        </script>
    </head>
    <body class="mediation_body">
        <div class="container-fluid">
            <div class="col countdown-container" style="" align="center">
                <!-- <h2 class="font" style="color: #484848; padding-top: 391px;">
                    請找一個安靜的地方<br><br>
                    閉上眼睛，穩定呼吸，<br>
                    想一下今天在 IG 上發生的事</h2> -->
                <div class="clock row">
                    <div class="clock-item clock-seconds countdown-time-value col-sm-6 col-md-3">
                        <div class="wrap">
                            <div class="inner">
                                <div id="canvas_seconds" class="clock-canvas"></div>
                                    <div class="text">
                                        <p class="val">0</p>
                                        <p class="type-seconds type-time">SECONDS</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    
            </div>
            
            <div class="col font bottom_card" style="height: 256px; padding: 0px; padding-top: 61px;" align="center">
                <input class="mediation_start_btn" type="button" value="開始冥想">
            </div>
        </div>

        <script>
            $(".mediation_start_btn").click(function() {
                $(this).hide();
                $(this).replaceWith("<h2 class='font'>閉上眼睛 ...<br><br>保持穩定呼吸 ...</h2>")
                // replace text with count down clock
                const clock = `<div class="clock-item clock-seconds countdown-time-value col-sm-6 col-md-3">
                                <div class="wrap">
                                    <div class="inner">
                                        <div id="canvas_seconds" class="clock-canvas"></div>
                                            <div class="text">
                                                <p class="val">0</p>
                                                <p class="type-seconds type-time">SECONDS</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>`;
            });
        </script>
    </body>
</html>