<body class="mediation_body">
    <div class="container-fluid">
        <div class="col" style="">
            <h2 class="font" style="color: #484848;">請找一個安靜的地方<br><br>
                閉上眼睛，穩定呼吸，<br>
                想一下今天在 IG 上發生的事</h2>
        </div>
        
        <div class="col font bottom_card" style="height: 256px; padding: 0px; padding-top: 61px;" align="center">
            <input class="mediation_start_btn" type="button" value="開始冥想">
        </div>
    </div>
</body>
